<html>
    <head>
        <title>Aplikasi Perekaman Data Penulis</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
        <style type="text/css">
                body{
                    background-image: url(assets/img/poltekbaru.jpg);
                }

            </style>

    </head>

    <body ng-app="CobaApp" ng-controller="CobaController">
  <div class="container">
  <div class="jumbotron">
    <h2>Selamat datang di Aplikasi Perekaman Data Penulis</h2>
    <h4>Created by</h4>
    <h4>Azka Willdan(Ketua), Nadiya Rizqi(Anggota 1), Tri Tholabul ilmi(Anggota 2) dan Seno Hendy N(Anggota 3)</h4>
    <a class="btn btn-primary" href="/daftar-penulis"> Masuk</a>
  </div>
  
  </div>
  </body>
 
</html>
